
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.iphone-14-15-pro-1-KHD {
  box-sizing: border-box;
  padding: 6.9rem 2.4rem 5.9rem 2.4rem;
  width: 100%;
  position: relative;
  background-color: #0a485b;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;

  .ashtonslogo16white-on-blue-1-Tnj {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0.1rem 7.7rem 0rem;
    width: 21.6rem;
    height: 4.2rem;
  }
  .group-2-LrX {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 3.3rem 4.9rem 4.6rem;
    width: calc(100% - 7.9rem);
    height: 4.6rem;

    .event-pack-pv7 {
      font-weight: 400;
      line-height: 1.805;
      display: flex;
      align-items: baseline;
      flex-shrink: 0;
      margin-right: 1.7rem;
      color: #ffffff;
      font-family: Bayon, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.5rem;

      .event-pack-pv7-sub-0 {
      }
      .event-pack-pv7-sub-1 {
        font-family: Bayon, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.805;
        letter-spacing: -0.2rem;
        color: #ffffff;
      }
      .event-pack-pv7-sub-2 {
      }
    }
    .group-1-z5q {
      width: 14.5rem;
      height: 100%;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;

      .rectangle-2-jJK {
        box-sizing: border-box;
        border-radius: 2.05rem;
        width: 14.5rem;
        height: 4.1rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.2rem #0ac1bc;
      }
      .download-d8o {
        left: 1.3282rem;
        top: 0;
        font-size: 2.5rem;
        font-weight: 400;
        font-family: Bayon, 'Source Sans Pro';
        width: 9.5rem;
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 4.6rem;
        line-height: 1.805;
      }
      .download-svgrepo-com-1-LZ1 {
        position: absolute;
        left: 11.3777rem;
        top: 1.5333rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7089rem;
        height: 1.1917rem;
      }
    }
  }
  .mos-card-2gj {
    box-sizing: border-box;
    padding: 2rem 0.6rem 0.9rem 3rem;
    align-items: flex-end;
    box-shadow: 0.4rem 0.4rem 0.83rem rgba(0, 0, 0, 0.25);
    background-color: #d9d6ca;
    flex-shrink: 0;
    margin-bottom: 2.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .auto-group-rb71-Kvj {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      width: 100%;
      height: 14rem;

      .auto-group-5efv-Tn3 {
        margin-right: 4.1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-eml7-QhH {
          margin: 0rem 0rem 1.5rem 0.1rem;
          width: 13.1rem;
          height: 5.4rem;
          position: relative;
          flex-shrink: 0;

          .mo-arif-8NP {
            line-height: 1.2575;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            font-size: 3rem;
            font-weight: 400;
            color: #092930;
            width: 8.7rem;
            height: 3.8rem;
            position: absolute;
            left: 0;
            top: 0;
            white-space: nowrap;
          }
          .business-development-director-kHH {
            width: 13.1rem;
            height: 1.3rem;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 3rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #092930;
          }
          .public-sector-rbD {
            color: #092930;
            white-space: nowrap;
            width: 5.6rem;
            position: absolute;
            top: 4.1rem;
            font-size: 1rem;
            font-weight: 400;
            height: 1.3rem;
            left: 0;
            line-height: 1.2575;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
          }
        }
        .connect-with-me-on-Mns {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #092930;
          font-family: Arimo Hebrew Subset, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
        }
        .linkedin-VPH {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          width: 7.5rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
        }
        .moarifashtonscom-Ebm {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #092930;
          font-family: Arimo Hebrew Subset, 'Source Sans Pro';
        }
      }
      .mo-2-m5u {
        vertical-align: top;
        flex-shrink: 0;
        width: 13.6rem;
        height: 13.6rem;
        object-fit: cover;
      }
    }
    .auto-group-tnao-uC7 {
      margin: 0rem 0.3rem 0rem 0.1rem;
      width: calc(100% - 0.4rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .item-07875-407-085-DyV {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.6rem;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #092930;
        font-family: Arimo Hebrew Subset, 'Source Sans Pro';
      }
      .ashtonslogo11blue-1-8af {
        margin-top: 1.1rem;
        width: 8.2rem;
        height: 1.7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .irfans-card-zMy {
    width: 100%;
    box-shadow: 0.4rem 0.4rem 0.83rem rgba(0, 0, 0, 0.25);
    margin-bottom: 3.7rem;
    box-sizing: border-box;
    padding: 2rem 2.1rem 0.9rem 0.9rem;
    display: flex;
    align-items: center;
    background-color: #d9d6ca;
    flex-shrink: 0;

    .auto-group-3y7u-7Sb {
      margin: 0.3rem 3.8rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .irfan-1-eBd {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        width: 13.6rem;
        height: 13.6rem;
      }
      .ashtonslogo11blue-1-ZpP {
        margin-left: 0.1rem;
        width: 8.2rem;
        height: 1.7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .text-sq5 {
      margin-bottom: 1.1rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-cefd-1wH {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 13.1rem;
        height: 5.4rem;

        .irfan-mirza-Wt3 {
          color: #092930;
          white-space: nowrap;
          width: 13.1rem;
          height: 3.8rem;
          left: 0;
          text-align: right;
          font-size: 3rem;
          font-weight: 400;
          position: absolute;
          top: 0;
          line-height: 1.2575;
          font-family: Arimo Hebrew Subset, 'Source Sans Pro';
        }
        .head-of-primary-care-services-CF5 {
          width: 12.6rem;
          font-size: 1rem;
          line-height: 1.2575;
          font-family: Arimo Hebrew Subset, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          color: #092930;
          height: 1.3rem;
          position: absolute;
          left: 0.3rem;
          top: 3rem;
          text-align: right;
        }
        .mrpharms-ipresc-GEw {
          height: 1.3rem;
          top: 4.1rem;
          text-align: right;
          font-weight: 400;
          line-height: 1.2575;
          white-space: nowrap;
          width: 7.4rem;
          position: absolute;
          left: 5.5rem;
          font-size: 1rem;
          color: #092930;
          font-family: Arimo Hebrew Subset, 'Source Sans Pro';
        }
      }
      .connect-with-me-on-XwZ {
        margin: 0rem 0.5rem 0.1rem 0rem;
        text-align: right;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #092930;
        font-family: Arimo Hebrew Subset, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .linkedin-cy1 {
        height: 2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.6rem 1.4rem 0rem;
        width: 7.5rem;
      }
      .irfanmirzaashtonscom-kZR {
        line-height: 1.2575;
        color: #092930;
        font-family: Arimo Hebrew Subset, 'Source Sans Pro';
        margin: 0rem 0.5rem 0.3rem 0rem;
        text-align: right;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.3rem;
        font-weight: 400;
      }
      .item-07123-123-123-GGs {
        margin-right: 0.5rem;
        text-align: right;
        font-size: 1.3rem;
        flex-shrink: 0;
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.2575;
        color: #092930;
        font-family: Arimo Hebrew Subset, 'Source Sans Pro';
      }
    }
  }
  .thank-you-jw9 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.805;
    color: #ffffff;
    font-family: Bayon, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 0.1rem;
  }
}
