
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  background-color: #092930;
}.iphone-14-15-pro-1-KHD {
  box-sizing: border-box;
  padding: 6.9rem 2.4rem 5.9rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0a485b;
}
.iphone-14-15-pro-1-KHD .ashtonslogo16white-on-blue-1-Tnj {
  margin: 0rem 0.1rem 5.7rem 0rem;
  width: 21.6rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .group-2-LrX {
  margin: 0rem 3.3rem 3.9rem 4.6rem;
  width: calc(100% - 7.9rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .group-2-LrX .event-pack-pv7 {
  margin-right: 1.7rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.805;
  color: #ffffff;
  font-family: Bayon, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.iphone-14-15-pro-1-KHD .group-2-LrX .event-pack-pv7 .event-pack-pv7-sub-1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: -0.2rem;
  color: #ffffff;
  font-family: Bayon, 'Source Sans Pro';
}

.iphone-14-15-pro-1-KHD .group-2-LrX .group-1-z5q {
  width: 14.5rem;
  height: 100%;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .group-2-LrX .group-1-z5q .rectangle-2-jJK {
  width: 14.5rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #0ac1bc;
  box-sizing: border-box;
  border-radius: 2.05rem;
}
.iphone-14-15-pro-1-KHD .group-2-LrX .group-1-z5q .download-d8o {
  width: 9.5rem;
  height: 4.6rem;
  position: absolute;
  left: 1.3282rem;
  top: 0;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.805;
  color: #ffffff;
  font-family: Bayon, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-1-KHD .group-2-LrX .group-1-z5q .download-svgrepo-com-1-LZ1 {
  width: 1.7089rem;
  height: 1.1917rem;
  position: absolute;
  left: 11.3777rem;
  top: 1.5333rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-1-KHD .mos-card-2gj {
  margin-bottom: 2.7rem;
  box-sizing: border-box;
  width: 75%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0.4rem 0.4rem 0.83rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}

.iphone-14-15-pro-1-KHD .irfans-card-zMy {
  margin-bottom: 3.7rem;
  box-sizing: border-box;
  padding: 2rem 2.1rem 0.9rem 0.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0.4rem 0.4rem 0.83rem rgba(0, 0, 0, 0.25);
  background-color: #d9d6ca;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .auto-group-3y7u-7Sb {
  margin: 0.3rem 3.8rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .auto-group-3y7u-7Sb .irfan-1-eBd {
  margin-bottom: 1.5rem;
  width: 13.6rem;
  height: 13.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .auto-group-3y7u-7Sb .ashtonslogo11blue-1-ZpP {
  margin-left: 0.1rem;
  width: 8.2rem;
  height: 1.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 {
  margin-bottom: 1.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 .auto-group-cefd-1wH {
  margin-bottom: 1.8rem;
  width: 13.1rem;
  height: 5.4rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 .auto-group-cefd-1wH .irfan-mirza-Wt3 {
  width: 13.1rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #092930;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 .auto-group-cefd-1wH .head-of-primary-care-services-CF5 {
  width: 12.6rem;
  height: 1.3rem;
  position: absolute;
  left: 0.3rem;
  top: 3rem;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #092930;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 .auto-group-cefd-1wH .mrpharms-ipresc-GEw {
  width: 7.4rem;
  height: 1.3rem;
  position: absolute;
  left: 5.5rem;
  top: 4.1rem;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #092930;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 .connect-with-me-on-XwZ {
  margin: 0rem 0.5rem 0.1rem 0rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #092930;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 .linkedin-cy1 {
  margin: 0rem 0.6rem 1.4rem 0rem;
  width: 7.5rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 .irfanmirzaashtonscom-kZR {
  margin: 0rem 0.5rem 0.3rem 0rem;
  text-align: right;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #092930;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .irfans-card-zMy .text-sq5 .item-07123-123-123-GGs {
  margin-right: 0.5rem;
  text-align: right;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #092930;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-1-KHD .thank-you-jw9 {
  margin-right: 0.1rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.805;
  color: #ffffff;
  font-family: Bayon, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.group-2-LrX {
  display:flex;
  justify-content: center;
  align-items: center;
}



.irfans-card-zMy {
  max-width: 350px;
}

.rectangle-2-jJK:hover {
  background-color: #0ac1bc;

}

.group-1-z5q .rectangle-2-jJK {
  transition: background-color 0.3s ease;
}


.group-1-z5q:hover .rectangle-2-jJK {
  background-color: #0ac1bc;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: white;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
}

.footer-content a {
  color: white;
}

.footer-content a:link {
  color: white;
  text-decoration: none;
}

.footer-content:visited {
  color: white;
  text-decoration: none;
}

.footer-content a:hover {
  color: #0ac1bc ;
  transition: color 0.3s ease;
}

:root {
  color-scheme: light only !important; 
}

/* For desktop */
@media only screen and (min-width: 768px) {
  .mos-card-2gj,
  .irfans-card-zMy {
    max-width: 80%;
  }
}

/* For mobile */
@media only screen and (max-width: 30%) {
  .mos-card-2gj,
  .irfans-card-zMy {
    max-width: 30%; /* You can adjust the width as needed for mobile */
  }
}

.mos-card-2gj {
  position: relative;
  max-width: 350px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
}

.svg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/1x/cardcontainer.png");
  background-size: cover;
  background-position: center;
}

.text-content {
  position: relative;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  z-index: 1; /* Ensure text is above SVG */
  padding: 8%; /* Adjust spacing as needed */
  text-align: left;
  right: 20%;
  color: transparent;
  text-shadow: 0 0 0 #092930;
}

/* Styles for the text elements */
.mo-name {
  font-size: 24px;
  font-weight: bold;
  /* Add more styles as needed */
}

.mo-role1,
.mo-role2,
.mo-connect,
.contact-info {
  font-size: 12px;
  /* Add more styles as needed */
}

.linkedin-link {
  display: inline-block;
  margin-top: 4%;
}

.linkedin-logo {
  width: 35%; /* Adjust size as needed */
  height: auto;
  margin-bottom: 3%;
  /* Add more styles as needed */
}

.mo_logo {
  width: 70%;
  position: absolute;
  top: 1%;
  left: 41%;
  margin-top: 10px; /* Add margin-top to adjust spacing */
}

.mo-connect {
  margin-top: 5%;
}

.ashtonsmo {
  position: absolute;
  width: 55%;
  margin-top: 12%;
}